<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="io.owuor91.authentication">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_authentication">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name=".ui.LoginActivity"></activity>
        <activity android:name=".ui.DashboardActivity" />
        <activity android:name=".ui.RegisterActivity" />
    </application>

</manifest>